<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


  <div class="wrapper fadeInDown">
    <div id="formContent">
      <div class="fadeIn first">
        <h1> Recuperar Contraseña </h1>
      </div>

      <form form (ngSubmit)="onSubmit()"  #passwordRecupForm="ngForm">
        <br><br>
        <label for="login" style="color: antiquewhite;">Ingrese su Email de Usuario</label>
        <label for="login" style="color: antiquewhite;">Le enviaremos un Link a su correo para recuperar la contraseña</label>
        <br><br>
        <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email de Usuario" [(ngModel)]="email" required>
        <br>
        
        <input
    type="submit"
    class="fadeIn fourth"
    [disabled]="passwordRecupForm.invalid || loading"
    value="Ingresar"
  />

  <!-- Spinner debajo del botón -->
  <div *ngIf="loading" class="mt-2 text-center">
    <div
      class="spinner-border text-primary"
      role="status"
      style="width: 1.5rem; height: 1.5rem;"
    >
      <span class="sr-only">Cargando...</span>
    </div>
  </div>

      </form>

      <br>
      <div id="formFooter">
        
        <a class="underlineHover" [routerLink]="['../loginscreen']" routerLinkActive="router-link-active">Volver al Inicio de Sesion</a>
        <br>
      </div>
    </div>
  </div>
